body {
  font-family: "Droid Sans", sans-serif;
  padding-bottom: 40px;
  width: 600px;
}
.form-row {
  padding: 8px; 0px;
}

.form-row input {
  width: 400px;
  padding-bottom: 4px;
}

.form-row label {
  font-weight: bold;
  display: block;
  padding-bottom: 12px;
}

.form-row p {
  padding-top: 4px;
  font-size: .7em;
}
